{% extends 'base.html.twig' %}

{% block title %}we movies{% endblock %}

{% block body %}
    <h2>We movies</h2>

  

 <iframe class="myIframe"  src="https://www.youtube.com/embed/{{ details.results[0].key }}" width="560" height="315" frameborder="0" allowfullscreen></iframe>

   
{% endblock %}


